<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
    </div>
    <div class="card-body" id="<%= dom_id profile %>">
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Nama</label>
          <%= form.text_field :name, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Tempat lahir</label>
          <%= form.text_field :birthplace, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Tanggal lahir</label>
          <%= form.date_field :birthdate, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Jenis kelamin</label>
          <div><%= form.select :gender, [["Laki-laki", "Laki-laki"], ["Perempuan", "Perempuan"]] %></div>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Alamat</label>
          <%= form.text_field :address, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Nomor telepon</label>
          <%= form.text_field :phone_number, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Jurusan</label>
          <%= form.text_field :major, class: "form-control form-control-user" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Tahun kelulusan</label>
          <%= form.text_field :graduation_year, class: "form-control form-control-user" %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
