<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= profile.birthplace %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= profile.birthdate %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= profile.phone_number %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= profile.major %>
  </p>

  <p>
    <strong>Graduation year:</strong>
    <%= profile.graduation_year %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
