<tr id="<%= dom_id profile %>">
  <td><%= profile.name %></td>
  <td><%= profile.birthplace %></td>
  <td><%= profile.birthdate %></td>
  <td><%= profile.gender %></td>
  <td><%= profile.address %></td>
  <td><%= profile.phone_number %></td>
  <td><%= profile.major %></td>
  <td><%= profile.graduation_year %></td>
  <td><%= link_to "Tampilkan", profile, class: "btn btn-info" %></td>
</tr>
