<div id="<%= dom_id status %>">
  <p>
    <strong>Category:</strong>
    <%= status.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= status.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= status.position %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= status.address %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= status.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= status.end_date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= status.comment %>
  </p>

</div>
