<tr id="<%= dom_id status %>">
  <td><%= status.category %></td>
  <td><%= status.name %></td>
  <td><%= status.position %></td>
  <td><%= status.address %></td>
  <td><%= status.start_date %></td>
  <td><%= status.end_date %></td>
  <td><%= status.comment %></td>
  <td><%= link_to "Tampilkan", status %></td>
</tr>
