<tr id="<%= dom_id status %>">
  <td><%= status.category %></td>
  <td><%= status.name %></td>
  <td><%= status.position %></td>
  <td><%= status.address %></td>
  <td><%= status.start_date %></td>
  <td><%= status.end_date %></td>
  <td><%= status.comment %></td>
  <td><%= link_to "Edit", edit_status_path(status), class: "btn btn-warning" %></td>
  <td><%= button_to "Hapus", status, method: :delete, class: "btn btn-danger" %></td>
</tr>
