<div id="<%= dom_id status %>">
  <p>
    <strong>Type:</strong>
    <%= status.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= status.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= status.position %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= status.address %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= status.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= status.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= status.user_id %>
  </p>

</div>
